<footer>
    <div class="col.lg-12">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="col"><img src="../../../assets/images/unc.png"></div>
                    </div>
                    <div class="col"> 
                        <small>&copy; Uiversidad Nacional de Cajamarca</small><br>
                        <small>Facultad de Ingeniería</small><br>
                        <small>Escuela de Ingeniería de Sistemas</small><br>
                    </div>
                </div>
            </div>
            <div class="col text-rigth">
                <small>Vilma García Chilón</small><br>
                <small>Cel: 934 585 345</small>
            </div>
        </div>
    </div>
</footer>


