<div class="contenedor">
       <p>
            Nombre: Vilma García Chilón <br>
            Email <a href="">Vgarciac15@unc.edu.pe</a><br>
            Dirección: Barrio San Vicente <br>
            Telefono: 934 585 345
        </p>
        
        <div class="social">            
                <a href="https://www.facebook.com/vilma.garciachilon" target="_blank" ><i class="bi bi-facebook"></i></a> Facebook <br>
                <a href="" target="_blank" ><i class="bi bi-twitter"></i></a> Twiter <br>
                <a href=" " target="_blank"><i class="bi bi-instagram"></i></a> Instagram <br>
                <a href=" " target="_blank"><i class="bi bi-linkedin"></i></a> LinkedIn <br>         
        </div>

        <br>
        
        <div>
                <h6>INFORMACIÓN</h6>
        </div> 
        
        <div> 
        <p>
                Estudiante de la carrera de ingeniería de Sistemas<br>
                en la Universidad Nacional de Cajamarca. Con ganas<br>
                de poner en práctica los conocimientos obtenidos <br>
                en la carrera y de seguir aprendiendo. <br>
        </p>
        </div>
</div>
